.categories-div{
    text-align: center;
    width: 40vw;
    padding: 20px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    display: inline-block;
    border-radius: 2pxpx;
}

.categories-div-container{
    width: 40vw;
    display: inline-block;
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    margin-right: 10px;
}
