body, html{
  margin: 0px;
  padding: 0px;
  font-family: darwin;
}

div{
  font-family: darwin;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.h7{
  font-size: 15px;
  padding: 0px 20px;
  font-weight: 700;
  font-family: darwin;
}

.search-input{
  width: 85%;
  border: none;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: grey;
  outline: none;
}
