body, html{
  margin: 0px;
  padding: 0px;
  font-family: darwin;
}

*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

div{
  font-family: darwin;
}

.wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.h7{
  font-size: 15px;
  padding: 0px 20px;
  font-weight: 700;
  font-family: darwin;
}

.search-input{
  width: 85%;
  border: none;
  margin: 10px 0px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: grey;
  outline: none;
}

input{
  outline: none;
}

Link, a , link {
  text-decoration: none;
  text-emphasis: none;
  color: inherit;
}

.navigation {
  height: 100vh;
}